In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [16]:
lists=[10,20,14,55,43,87,76]
print(len(lists))

7

In [34]:
Name= "Artificial Intelligence"
for i in Name:
    print (i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [35]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

#tuples

In [1]:
a=(0,1,2,3)
b=("phyton","HOPE")
c=(a,b)
print(c)

((0, 1, 2, 3), ('phyton', 'HOPE'))

In [3]:
a=(1,"Welcome",2,"HOPE")
print(a)

(1, 'Welcome', 2, 'HOPE')

#odd numbers

In [1]:
t=(20,10,16,19,25,1,276,188)
print(t)

(20, 10, 16, 19, 25, 1, 276, 188)

In [3]:
for num in t:
    if(num%2==1):
        print(num ,"is odd")

19 is odd
25 is odd
1 is odd

#even number

In [4]:
t=(20,10,16,19,25,1,276,188)
print(t)

(20, 10, 16, 19, 25, 1, 276, 188)

In [5]:
for num in t:
    if (num%2==0):
        print(num,'is odd')

20 is odd
10 is odd
16 is odd
276 is odd
188 is odd